@import '../public/styles/index.scss';

body {
  overflow-x: hidden;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.h-global-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 40px;
}
